# gitignore
npm-debug.log
node_modules
.DS_Store

# Only apps should have lockfiles
yarn.lock
package-lock.json
npm-shrinkwrap.json

# coverage output
coverage/
.nyc_output/

bower.json
component.json
.npmignore
.github/workflows
